<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kris Sobere</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    
  
  
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">
    <!-- for animattion -->
    <link rel="stylesheet" href="css/animate.css">

   

    <style type="text/css">
      #first{
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 0.1s;
    /*  -webkit-animation-iteration-count: infinite;*/
      }
      #about{
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 0.1s;
      }
      #portfolio{
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 1s;
      }
      #contact{
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 1s;
      }
    </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger animated fadeInDown" href="#page-top">Kristoffer Sobere</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse animated fadeInRight" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div id="first" class="header-content">
        <div class="header-content-inner">
          <img src="img/123.jpg" class="bio animated fadeIn">
          <hr>
          <h1 id="homeHeading" class="animated fadeIn">{{Hello}}</h1>
          <hr>
          <p class="animated fadeIn">My name is Kristoffer Sobere and I'm a fresh graduate student from FEU Diliman.</p>
          <p class="animated fadeIn">I am seeking a challenging career with progressive organization that provides an opportunity to capitalize my technical skills and abilities in the field of Information Technology.</p>
         <a class="btn btn-primary btn-xl js-scroll-trigger animated bounceInDown" id="findmore" href="#about">NEXT</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">SKILLS</h2>
            <hr class="light">
            <canvas id="mycanvas" width="450" height="150"></canvas>
            <a class="btn btn-default btn-xl js-scroll-trigger" id="viewprojects"  href="#portfolio">View Projects</a>
          </div>
        </div>
      </div>
    </section>

 
    <section  class="bg-info" id="portfolio">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading ">Projects</h2>
            <hr class="primary">
          </div>

        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutter ">

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://bosobosohighlandsresortconventioncenter.000webhostapp.com">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.png" style="height: 350px;width: 650;" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                 
                  <div class="project-name">
                    <h5>BosoBoso Highlands Resort</h5>
                    <small>A Complete Hotel and Resort Online Reservation.</small>
                  </div>
                </div>
              </div>
            </a>
          </div>



           <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="http://kristoffersobere-csp3.herokuapp.com/">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.png" style="height: 350px;width: 650;" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                  </div>
                  <div class="project-name">
                    <h5>Cloud9</h5> <small> simple Social Networking Site made from Laravel Framework</small>
                
                  </div>
                </div>
              </div>
            </a>
          </div>


            <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://kristoffersobere.github.io/csp1/">
              <img class="img-fluid" src="img/portfolio/thumbnails/sf.png" style="height: 350px;width: 650px;" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                  
                  </div>
                  <div class="project-name">
                   <h5>SpoonFork</h5>
                   <small>A static website</small>
                  </div>
                </div>
              </div>

            </a>
              
         
          </div>





          <div class="col-lg-4 col-sm-6">
           <!--  <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a> -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://kristoffersobere.000webhostapp.com/">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.png" style="height: 350px;width: 650;" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    
                  </div>
                  <div class="project-name">
                    <h5>Crown Hotel</h5> <small>Reservation with SMS notification and Email Verification. 
                    </small>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-sm-6">

            <!-- <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a> -->

          </div>

        </div>
        <div class="text-center"> <a class="btn btn-primary btn-lg btn3d js-scroll-trigger" id="btncontacts"  href="#contact">Contacts</a></div>
      </div>
         
    </section>
<div></div>
    

    <section  id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading"><a href="#contact" id="getstarted">You can reach me here!</a></h2>
            <hr class="primary">
          
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
           <i class="fas fa-phone-square fa-3x"></i>
            <p>09566721273</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fab fa-gitlab fa-3x"></i>
            <p>
              <a href="https://gitlab.com/kristoffersobere">gitlab.com/kristoffersobere</a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fab fa-github fa-3x"></i>
            <p>
              <a href="https://gitlab.com/kristoffersobere">github.com/kristoffersobere</a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x"></i>
            <p>
              <a href="mailto:kristoffer.sobere@gmail.com">kristoffer.sobere@gmail.com</a>
            </p>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-paperclip fa-3x"></i>
            <p>
              <a href="img/Resume2.0.pdf" target="_blank">My Resume</a>
            </p>
          </div>
         
        </div>
      </div>
    </section>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
   

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script type="text/javascript">
      var chrt = document.getElementById('mycanvas').getContext('2d');
      var data = {
          labels: ["HTML","CSS3","Bootstrap","Materialize CSS","PHP","JavaScript","jQuery","Ajax","Laravel","Git"],
          datasets: [
            {
              label: "My Skills",
              fillColor: "rgba(220,220,220,1)",
              //strokeColor: "rgba(220,220,220,0.8)", 
              strokeColor: "rgba(220,220,220,1)", 
              highlightFill: "rgba(220,220,220,1)", 
              highlightStroke: "rgba(220,220,220,1)", 
              data: [90,83,85,80,90,85,90,90,85,85]
            }

          ]
      }
      
      ;

      //var myFirstChart = new Chart(chrt).Bar(data);
      var myFirstChart = new Chart.Bar(chrt, {
        data: data
        });
     


      $(document).ready(function(){

        $('#findmore').click(function () {
        $('#about').addClass('animated fadeInDown')
        });

        $('#viewprojects').click(function () {
        $('#portfolio').addClass('animated bounceIn')
        });

         $('#btncontacts').click(function () {

         $('#contact').addClass('animated fadeIn')
        });

        var lastScrollTop = 0;
        $(window).scroll(function(event){
        var st = $(this).scrollTop();
        if (st > lastScrollTop){
              
             
         } else  {

         }
         lastScrollTop = st;
      });
 


      });
     

    </script>

  </body>

</html>
